# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Clerk Webhook
CLERK_WEBHOOK_SECRET=your_webhook_secret_here 

# Internal API Key
INTERNAL_API_KEY="Your Internal API Key consistent with the one in the ai-service/.env.local file"  # Replace with a strong secret key in production

# Supabase
SUPABASE_URL="Your Supabase URL"
SUPABASE_SERVICE_ROLE_KEY="Your Supabase Service Role Key"
UPLOADS_BUCKET_NAME="Your Supabase Uploads Bucket Name"

# Database
# Adding ?ssl=true to force SSL connection, which can help with some connection issues
DATABASE_URL="Your Database URL"

# Stripe
STRIPE_SECRET_KEY="Your Stripe Secret Key"
STRIPE_WEBHOOK_SECRET="Your Stripe Webhook Secret"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="Your Stripe Publishable Key"